.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $title-font;
    font-size: 3.5rem;
    color: $orange;
    min-width: 200px;
    & > .upper{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }
    & > .down{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }
}