@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Open+Sans&display=swap');

//Fonts
$title-font: 'Just Another Hand';
$def-font:'Open Sans';


//Colors
$violet: #3A3042;
$yellow: #DB9D47;
$orange: #FF784F;
$orange30:rgba(255,120,79,0.3);
$peach: #FFE19C;
$nya: #EDFFD9;

$white: #fff;
$white50: rgba(255,255,255,0.95);
$black: #000;
$black50: rgba(0,0,0,0.5);

